Data/**/*.*
.ipynb_checkpoints/**/*.*
imgs/**/*.*
DL/PV01/**/*.*
DL/PV01
DL/YOLO_HPC/pv01/**/*.*
DL/YOLO_HPC/yolov7/**/*.*
DL/MASK_HPC/PV-Modules-Faults.v5i.coco-segmentation/**/*.*
DL/MASK_HPC/detectron2/**/*.*
DL/YOLO_HPC/yolov7/**/*.*
PVHawk/**/*.*
PVHawk/mask_rcnn_ir_weights.h5
PVHawk/mask_rcnn_rgb_weights.h5